# Microchip dsPIC33F MCU series

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_DSPIC33F
	bool "Microchip dsPIC33F MCU"
	select PIC30
	select CPU_DSPIC33F
	select SOC_FAMILY_DSPIC33F
	help
	  Enable support for Microchip dsPIC33F microcontrollers.
