# Microchip dsPIC33F MCU series configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_DSPIC33F

source "soc/pic30/dspic33f/Kconfig.defconfig.dspic33f*"

config SOC_SERIES
	default "dspic33f"

config NUM_IRQS
	default 126

endif # SOC_SERIES_DSPIC33F
