# Microchip pic30 MCU family configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_PIC30
	bool

if SOC_FAMILY_PIC30

config SOC_FAMILY
	string
	default "pic30"

source "soc/pic30/common/Kconfig.dspic33f"
source "soc/pic30/*/Kconfig.soc"

endif
