# Microchip dsPIC33C MCU series configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_DSPIC33C

config SOC_SERIES
	default "dspic33c"

config SOC_PART_NUMBER
	default "33ck256mc508" if SOC_PART_NUMBER_DSPIC33CK256MC508

config NUM_IRQS
	default 254

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 200000000

endif # SOC_SERIES_DSPIC33C
