# Microchip dsPIC33C MCU series configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_DSPIC33C

config SOC_SERIES
	string
	default "dspic33c"

config SOC_PART_NUMBER
	string
	default "33ck256mp508" if SOC_PART_NUMBER_DSPIC33CK256MP508

config NUM_IRQS
	int
	default 196 if SOC_PART_NUMBER_DSPIC33CK256MP508

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 200000000

endif # SOC_SERIES_DSPIC33C
