# Microchip PIC30

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

# Here are set all the Kconfig symbols common to the whole PIC30 family

if SOC_FAMILY_PIC30

config UART_PIC30
	default y
	depends on SERIAL

if GPIO

config GPIO_PIC30
	default y

endif # GPIO

config PINMUX_PIC30
	default y
	depends on PINMUX

config PWM_PIC30
	default y
	depends on PWM

config SPI_PIC30
	default y
	depends on SPI

config ADC_PIC30
	default y
	depends on ADC

if DMA

config DMA_PIC30
	default y

config HEAP_MEM_POOL_SIZE
	default 256

endif # DMA

endif # SOC_FAMILY_PIC30
