# Microchip dsPIC33C MCU series configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_DSPIC33C

source "soc/pic30/dspic33c/Kconfig.defconfig.dspic33c*"

config SOC_SERIES
	default "dspic33c"

config NUM_IRQS
	default 254

endif # SOC_SERIES_DSPIC33C
