/*
 * Copyright (c) 2020 Rubus Technologies Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <pic30/dspic33c.dtsi>
#include <dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zephyr,flash-controller = &flash;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "microchip,dspic33c";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};

	sram0: memory@1000 {
		compatible = "mmio-sram";
	};

	soc {
		timer1: timer@100 {
			compatible = "microchip,pic30-timer1";
			reg = <0x100 0x008>;
			interrupts = <9 1>;
			label = "TIMER_1";
		};

		flash: flash-controller@8d0 {
			compatible = "microchip,dspic33ep-flash-controller";
			label = "FLASH_CTRL";
			reg = <0x8d0 0x00C>;

			#address-cells = <1>;
			#size-cells = <1>;

			flash0: flash@0 {
				compatible = "soc-nv-flash";
				label = "FLASH_DSPIC33C";

				write-block-size = <384>;
				erase-block-size = <3072>;
			};
		};
	};
};

&intc {
	microchip,num-irq-priority-bits = <3>;
};
