# Microchip dsPIC33C MCU series configuration options

# Copyright (c) 2020 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC
	default "33ck256mp502" if SOC_DSPIC33CK256MP502
	default "33ck256mp504" if SOC_DSPIC33CK256MP504
	default "33ck256mp508" if SOC_DSPIC33CK256MP508

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 200000000
